{% extends 'base.html.twig' %}

{% block title %}Adoption index
{% endblock %}

{% block body %}
	<main class="flex w-full ">

		<section
			class="w-full p-4  ml-2">
  	<a class = "btn m-10" href="{{ path('app_adoption_a_prendre') }}">Voir les adoptions à prendre</a>
	<a class = "btn m-10" href="{{ path('app_adoption_index') }}">Voir toutes les adoptions</a>
	<a class = "btn m-10" href="{{ path('app_adoption_a_moi') }}">Voir les adoptions qui me sont affectées (id 90 pour l'instant -> 31 et 32)</a>

			<!-- ************************header table*********************** -->

			<div class="px-4 md:px-10 py-4 md:py-7">
				<div class="flex items-center justify-between">
					<p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Liste des Adoptions
					<span class="material-icons">pets</span> </p>
					{#<div class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded">
						<p>Trier par:</p>
						<select aria-label="select" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1">
							<option class="text-sm text-indigo-800">Latest</option>
							<option class="text-sm text-indigo-800">Oldest</option>
							<option class="text-sm text-indigo-800">Latest</option>
						</select>
					</div>#}
				</div>
			</div>
			<div class=" py-4 md:py-7 px-4 md:px-8 xl:px-10">
				{#<div class="sm:flex items-center justify-between">
					<p class="text-sm font-medium leading-none text-white">
						<a href="{{ path('app_adoption_new') }}">
							<button class="btn">{{ button_label|default('Create New') }}</button>
						</a>
					</p>
				</div>#}
				<!--************************************** table******************************* -->
				<table class="min-w-full border-collapse block md:table">
					<thead class="block md:table-header-group">
						<tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Id</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Date d'appel</th>
{#							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Compte rendu</th>
 							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Retour animaux proposes</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Date rencontre</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Retour rencontre adoptant</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Retour rencontre fa</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Date visite</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Retour visite</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Date adoption</th>
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Date depart</th> 
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Remarque</th>#}
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Statut</th>
							{# <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Animal</th>#}
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Adoptant</th>
{# 							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Animaux proposes</th> #}
							<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">actions</th>

						</tr>
					</thead>
					<tbody class="block md:table-row-group">
						{% for adoption in adoptions %}
							<tr class="bg-gray-300 border border-grey-500 md:border-none block md:table-row">
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.id }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.dateAppel ? adoption.dateAppel|date('Y-m-d') : '' }}</td>
{#								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.compteRendu }}</td>
 								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.retourAnimauxProposes }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.dateRencontre ? adoption.dateRencontre|date('Y-m-d') : '' }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.retourRencontreAdoptant }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.retourRencontreFa }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.dateVisite ? adoption.dateVisite|date('Y-m-d') : '' }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.retourVisite }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.dateAdoption ? adoption.dateAdoption|date('Y-m-d') : '' }}</td>
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.dateDepart ? adoption.dateDepart|date('Y-m-d') : '' }}</td> #}
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.statut }}</td>
								{#<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.animal.nom ?? "" }}</td>#}
								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.adoptant.prenom ?? "" }} {{ adoption.adoptant.nom ?? "" }}</td>
{# 								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ adoption.animauxProposes }}</td> #}

								<td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
									<span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
									<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
										<a href="{{ path('app_adoption_show', {'id': adoption.id}) }}">Détails</a>
									</button>
									<button class="bg-green-400 hover:bg-green-400 text-white font-bold py-1 px-2 border border-green-500 rounded">
										<a href="{{ path('app_adoption_edit', {'id': adoption.id}) }}">Modifier</a>
									</button>
									<button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">Archiver</button>
								</td>
							</tr>
						</td>
					</tbody>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="15">no records found</td>
	</tr>
{% endfor %}</tbody></table></section></main>{% endblock %}
