{% extends 'base.html.twig' %}

{% block title %}Adoption
{% endblock %}

{% block body %}
	<main class="flex justify-center items-center  ">

      <section class=" border-2 p-10  ml-2">
      <div class="px-10 md:px-12 py-10 md:py-7">
      <div class="flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Adoption </p>
                </div>
       </div>
       <!-- ************************header table*********************** -->


				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ adoption.id }}</td>
						</tr>
						<tr>
							<th>Date_appel</th>
							<td>{{ adoption.dateAppel ? adoption.dateAppel|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Compte_rendu</th>
							<td>{{ adoption.compteRendu }}</td>
						</tr>
						<tr>
							<th>Retour_animaux_proposes</th>
							<td>{{ adoption.retourAnimauxProposes }}</td>
						</tr>
						<tr>
							<th>Date_rencontre</th>
							<td>{{ adoption.dateRencontre ? adoption.dateRencontre|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Retour_rencontre_adoptant</th>
							<td>{{ adoption.retourRencontreAdoptant }}</td>
						</tr>
						<tr>
							<th>Retour_rencontre_fa</th>
							<td>{{ adoption.retourRencontreFa }}</td>
						</tr>
						<tr>
							<th>Date_visite</th>
							<td>{{ adoption.dateVisite ? adoption.dateVisite|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Retour_visite</th>
							<td>{{ adoption.retourVisite }}</td>
						</tr>
						<tr>
							<th>Date_adoption</th>
							<td>{{ adoption.dateAdoption ? adoption.dateAdoption|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Date_depart</th>
							<td>{{ adoption.dateDepart ? adoption.dateDepart|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Remarque</th>
							<td>{{ adoption.remarque }}</td>
						</tr>
						<tr>
							<th>Statut</th>
							<td>{{ adoption.statut }}</td>
						</tr>
						<tr>
							<th>Animaux_proposes</th>
							<td>{{ adoption.animauxProposes }}</td>
						</tr>
					</tbody>
				</table>

				<button class="btn">
					<a href="{{ path('app_adoption_index') }}">Retour à la liste des adoptions</a>
				</button>

				<button class="bg-green-400 hover:bg-green-400 text-white font-bold py-2 px-4 border border-green-500 rounded">
					<a href="{{ path('app_adoption_edit', {'id': adoption.id}) }}">Modifier</a>
				</button>
			</div>
		</section>
	</main>
	{#{ include('adoption/_delete_form.html.twig') }#}


{% endblock %}
