{% extends 'base.html.twig' %}

{% block title %}Les développeurs
{% endblock %}
{% block body %}

	<main class="flex ">

		<section class="mx-auto">

			<div class="flex flex-col p-4 ">

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						Le projet
						<span class="material-icons">pets</span>
					</p>
				</div>
        
				<div class="flex flex-col justify-center text-center items-center sm:flex-row">
				<p class=" text-lg">Réalisation d'un site interne pour les bénévoles de l'association 1000 Moustaches afin de gérer les adoptions.</p>
				</div>

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						L'équipe de développement
						<span class="material-icons">pets</span>
					</p>
				</div>

				<div class="flex flex-col justify-center text-center items-center sm:flex-row">

					<div>
						<p class="border-b-4 text-2xl mt-6 font-bold"> Alice </p>
						<p class=" text-lg"> Product Owner </p>
						<p> Développeuse spé Symfo</p>
						<img src=" {{ asset('build/images/alice.png') }} " alt="alice">
					</div>

					<div>
						<p class="border-b-4 text-2xl mt-6 font-bold"> Alaric </p>
						<p class=" text-lg"> Scrum Master </p>
						<p> Développeur spé Symfo</p>
						<img class="rounded-full" src=" {{ asset('build/images/alaric-team.png') }} " alt="alaric">
					</div>

					<div>
						<p class="border-b-4 text-2xl mt-6 font-bold"> Denis </p>
						<p class=" text-lg"> Git Master </p>
						<p> Développeur spé Symfo</p>
						<img class="rounded-full" src=" {{ asset('build/images/denis-team.jpg') }} " alt="denis">
					</div>
          
					<div>
						<p class="border-b-4 text-2xl mt-6 font-bold"> Muthu </p>
						<p class=" text-lg"> Lead Dev Front </p>
						<p> Développeuse spé Symfo</p>
						<img class="rounded-full" src=" {{ asset('build/images/muthu-team.png') }} " alt="muthu">
					</div>
          
					<div>
						<p class="border-b-4 text-2xl mt-6 font-bold"> Vincent </p>
						<p class=" text-lg"> Lead Dev Back </p>
						<p> Développeur spé Symfo</p>
						<img class="rounded-full" src=" {{ asset('build/images/vincent-team.png') }} " alt="vincent">
					</div>					

				</div>

			</div>

		</section>

	</main>

{% endblock %}
