{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
<main class="flex justify-center items-center  ">

      <section class=" border-2 p-10  ml-2">
      <div class="px-10 md:px-12 py-10 md:py-7">
      <div class="flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">>Animal </p>
                </div>
       </div>
       <!-- ************************header table*********************** -->
    
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.nom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ animal.dateNaissance ? animal.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ animal.statut }}</td>
            </tr>
            <tr>
                <th>Tests</th>
                <td>{{ animal.tests }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ animal.sexe }}</td>
            </tr>
            <tr>
                <th>Vaccins</th>
                <td>{{ animal.vaccins }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><i>{{ animal.photo }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ animal.commentaire }}</td>
            </tr>
            <tr>
                <th>Identification</th>
                <td>{{ animal.identification }}</td>
            </tr>
            <tr>
                <th>Sterilise</th>
                <td>{{ animal.sterilise ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn m-2" href="{{ path('app_animal_index') }}">back to list</a>

    <a class="btn m-2" href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>

    {# {{ include('animal/_delete_form.html.twig') }} #}
     </div >
</section >
</main >
{% endblock %}
