{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
	<main class="flex ">

		<section class="mx-auto">

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						Détails sur {{ animal.nom }}
						<span class="material-icons">pets</span>
					</p>
				</div>
    <div class="flex p-4">
                <img class="drop-shadow-md rounded-md w-2/5 p-2 object-contain " src=" {{ animal.photo }} " alt="{{ animal.nom }}">
                
                <div class="w-3/5 p-2">
                    <table class="table-auto text-left">
                        <tbody>
                            <tr>
                                <th>Espèce</th>
                                <td>{{ animal.espece.type}}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ animal.dateNaissance ? animal.dateNaissance|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Statut d'adoption</th>
                                <td>{{ animal.statut }}</td>
                            </tr>

                            <tr>
                                <th>Tests</th>
                                <td>{{ animal.tests }}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ animal.sexe }}</td>
                            </tr>
                            <tr>
                                <th>Vaccins</th>
                                <td>{{ animal.vaccins }}</td>
                            </tr>
                            <tr>
                                <th>Commentaire</th>
                                <td>{{ animal.commentaire }}</td>
                            </tr>
                            <tr>
                                <th>Identification</th>
                                <td>{{ animal.identification }}</td>
                            </tr>
                            <tr>
                                <th>Sterilise</th>
                                <td>{{ animal.sterilise ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Famille d'accueil</th>
                                <td>{{ animal.FamilleAccueil.prenom ?? "Personne"}} {{ animal.FamilleAccueil.nom ?? ""}} à {{ animal.FamilleAccueil.ville ?? ""}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>

                <a class="text-sm font-bold leading-none text-white " href="{{ path('app_animal_index') }}">
                <button class="bg-white rounded p-4 text-md font-normal leading-none text-black border-double border-2 border-black shadow-lg shadow-green-blue  hover:bg-green-blue  hover:-translate-y-1 hover:scale-110 hover:text-white font-bold">Retour</button>
                </a>

                <a class="text-sm font-bold leading-none text-white " href="{{ path('app_animal_edit', {'id': animal.id}) }}">
                <button class="bg-white rounded p-4 text-md font-normal leading-none text-black border-double border-2 border-black shadow-lg shadow-green-blue  hover:bg-green-blue  hover:-translate-y-1 hover:scale-110 hover:text-white font-bold">Modifier</button>
                </a>
            </div>


    {# {{ include('animal/_delete_form.html.twig') }} #}
     </div >
</section >
</main >
{% endblock %}
