{% block body %}

	<main class="flex mx-auto ">

		<aside class="h-screen w-full xl:w-2/4 hidden lg:w-11/12 hidden xl:block lg:block lg:w-full h-screen md:hidden sm:hidden sm:w-full h-screen">
			<img class="max-w-full p-10 m-20 md:m-10 pt-20 mt-20" src=" {{ asset('build/images/dog-cat.png') }} " alt="dog-cat">
		</aside>

		<section class="flex mx-auto">

			<div class="flex flex-col p-4 ">

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						Modifier un adoptant :
					</p>
				</div>

{{ form_start(form) }}


{{ form_row(form.nom, {'attr': {class:'rounded-md w-full :'}}) }}
{{ form_row(form.prenom, {'attr': {class:'rounded-md w-full :'}}) }}
{{ form_row(form.adresse, {'attr': {class:'rounded-md w-full :'}}) }}
{{ form_row(form.telephone, {'attr': {class:'rounded-md w-full :'}}) }}
{{ form_row(form.email, {'attr': {class:'rounded-md w-full :'}}) }}
{{ form_row(form.ville, {'attr': {class:'rounded-md w-full :'}}) }}
{{ form_row(form.code_postal, {'attr': {class:'rounded-md w-full :'}}) }}

    {{ form_widget(form) }}

	{# <div>
    <button class="btn m-20 ml-5 mr-5">{{ button_label|default('Sauvegarde') }}</button> #}

    <button class="btn m-20 ml-5 mr-5">{{ button_label|default('Sauvegarde') }}</button>
	<a  href="{{ path('app_adoptant_index') }}"><button class="btn m-20 ml-5 mr-5">Retour</button></a>
    {# <a href="{{ path('app_adoptant_index') }}"><button class="btn m-20 ml-5 mr-5">Ajouter une adoption</button></a> #}


{{ form_end(form) }}

{% endblock %}
