{% extends 'base.html.twig' %}

{% block title %}Adoptant{% endblock %}

{% block body %}
    <h1>Adoptant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adoptant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adoptant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ adoptant.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adoptant.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adoptant.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ adoptant.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adoptant.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ adoptant.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adoptant_index') }}">back to list</a>

    <a href="{{ path('app_adoptant_edit', {'id': adoptant.id}) }}">edit</a>

    {# {{ include('adoptant/_delete_form.html.twig') }} #}
{% endblock %}
