{# {{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn m-2 ">{{ button_label|default('Enregistrer') }}</button>
    <a  href="{{ path('app_user_index') }}"><button class="btn m-20 ml-5 mr-5">Retour</button></a>
{{ form_end(form) }} #}


{{ form_start(form) }}

                {{ form_row(form.email, {'attr': {class:'rounded-md w-full :'}}) }}
                {{ form_row(form.approles, {'attr': {class:'rounded-md w-full :'}}) }}
                {{ form_row(form.password, {'attr': {class:'rounded-md w-full :'}}) }}
                {{ form_row(form.nom, {'attr': {class:'rounded-md w-full :'}}) }}
                {{ form_row(form.prenom, {'attr': {class:'rounded-md w-full :'}}) }}
                {{ form_row(form.Actif, {'attr': {class:'rounded-md w-full :'}}) }}

                {{ form_widget(form) }}

{#                 <button class="btn m-5">{{ button_label|default('Enregistrer') }}</button>
 #}                
                <a class="text-sm font-bold leading-none text-white ">
                    <button class="bg-white rounded p-4 text-md font-normal leading-none text-black border-double border-2 border-black shadow-lg shadow-green-blue  hover:bg-green-blue  hover:-translate-y-1 hover:scale-110 hover:text-white font-bold">{{ button_label|default('Enregistrer') }}</button>
                </a>

{# 	            <a class="btn m-10" href="{{ path('app_user_index') }}">Retour </a>
 #}
                <a href="{{ path('app_user_index') }}" class="relative shadow-lg shadow-green-blue inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-black transition duration-300 ease-out border-2 border-black rounded-xl shadow-md group">
                    <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-green-blue group-hover:translate-x-0 ease">
                        <svg class=" h-8 w-8 text-black-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                        </svg>
                    </span>
                    <span class="absolute flex items-center justify-center w-full h-full text-black transition-all duration-300 transform group-hover:translate-x-full ease">Retour</span>
                    <span class="relative invisible">Retour</span>
                </a>

    {{ form_end(form) }}
