{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<main class="flex justify-center items-center  h-screen">

      <section class=" border-2 p-6  ml-2">
      <div class="px-8 md:px-12 py-10 md:py-7">
      <div class="flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Utilisateur </p>
                </div>
       </div>
        
       <!-- ************************header table*********************** -->
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ user.Actif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">Retour</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

    {#{ include('user/_delete_form.html.twig') }#}
     </div >
</section >
</main >
{% endblock %}
